.card.VacationPage-card {
    max-width:800px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.VacationPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
}

.vacation-img {
    width: 100%;
    height: 600px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.vacation-page-date {
    border-bottom: 1px solid black;

}
.vacation-btn {
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vacation-btns-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    column-gap: 5px;
    margin-top: 3px;
    position: relative;
}


.vacation-page-admin-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 40px;
}

.vacation-page-body {
    width: 80%;
    margin: auto;

}

.vacation-description {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}